# API
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Database
DATABASE_URL=

# Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Upload
NEXT_PUBLIC_MAX_FILE_SIZE=5242880
